apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mongodb.fullname" . }}
  labels:
    {{- include "mongodb.labels" . | nindent 4 }}
type: Opaque
data:
  mongo-root-password: {{ .Values.auth.rootPassword | default (randAlphaNum 16) | b64enc | quote }}
  mongo-password: {{ .Values.auth.password | default (randAlphaNum 16) | b64enc | quote }}
