apiVersion: v1
kind: Service
metadata:
  name: matching-service
  namespace: playpal
  labels:
    app: matching-service
spec:
  selector:
    app: matching-service
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: ClusterIP
